body {
	margin: 2em 6em;
	font-family: Georgia, "Times New Roman", Times, serif;
}
h1, h2 {	
	color: #d13c75;}
h1 {
	font-size: 1.5em;
}
h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}
small {
	color: #999;
}
a {
    text-decoration: none;
  }
  a:link {
    color: #4400ff;
  }
  a:visited {
    color: #584785;
  }
  a:focus, a:hover {
    color:#ff2b7c;
    background-color: #ffffff;
  }
  a:active {
    color: #ea00ff;
    background-color: #e2d7ff;
  }