 
    body {
        background: #faf2ea url(e12/images/bullseye.png) center;
        margin: 0 10%;
        font-family: Georgia, sans-serif;
        font-size: 100%;
        
    }
    nav {
        margin-top: 0;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.5);
        border-bottom: 5px dotted #4400ff;
        border-top: 5px dotted #4400ff;

    }
    h1 {
        color: #643cd1;
        text-align: center;
        font: bold 2em Georgia, serif;
        text-shadow: .1em .1em .2em gray;
        margin-top: 30px;
    }
    h2 {
        color: #643cd1;
        font-size: 1em;
    }
    h3 {
        text-align: center;
    }
    ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    }
    a {
       text-decoration: none;
        }
    a:link {
        color: #ff2b7c;
    }
    a:visited {
        color: #584785;
    }
    a:focus, a:hover {
        color:#4400ff;
        background-color: #e2d7ff;
    }
     a:active {
        color: #ea00ff;
        background-color: #e2d7ff;
    }
    footer {
        border-top: 5px dotted #4400ff;
        text-align: center;
        padding-top: 1em;
    }
    footer img {
        width: 40px;
        height: 40px;
        margin-left: .5em;
        margin-right: .5em;
    }