body {
	margin: 2em 5%;
	font-family: Georgia, "Times New Roman", Times, serif;
}
nav {
  margin-top: 0;
  text-align: center;
  background-color: rgba(255, 211, 222, 0.5);
  border-top: 5px dotted #d13c75;
  border-bottom: 5px dotted #d13c75;
}
a {
    text-decoration: none;
  }
  a:link {
    color: #4400ff;
  }
  a:visited {
    color: #584785;
  }
  a:focus, a:hover {
    color:#ff2b7c;
    background-color: #ffffff;
  }
  a:active {
    color: #ea00ff;
    background-color: #e2d7ff;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
h1, h2 {	
	color: #d13c75}
h1 {
	font-size: 1.5em;
}
h2 {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
}
small {
	color: #999;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}